body {
  background-color: #10151A;
}

a {
  text-decoration: none;
  color: #fff;
}

.button {
  background-color: #10151A;
}


.Pink {
  color: white;
  padding: 7px;
  margin-left: 50px;
}

.Goose {
  color: #FFB4D3;
  padding: 7px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.Link {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  margin-top: 20px;
}

.Login {
  color: white;
  background: #243241;
  height: 24px;
  width: 60px;
  font-size: 13px;
  border-radius: 7px;
  text-align: center;
  padding-top: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  margin-top: 15px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: px;
  background-color: #10151A;
  box-shadow: 0px 10px 8px #10151A;
  position: sticky;
  top: 0;
  width: auto;
  height: 104px;
}

.Text {
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 100px;
}

.Text1 {
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 25px;
}

.Text2 {
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 25px;
}

.GetStarted {
  background-color: #CEAAFF;
  color: #10151A;
  font-family: Tahoma, sans-serif;
  padding-left: 2px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  border-radius: 7px;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tags {
  background-color: #182632;
  color: white;
  border-radius: 50px;
  width: auto;
  display: inline;
  font-family: Tahoma, sans-serif;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}

.container {
  width: 100%;
  text-align: center;
}

.containerTags {
  width: auto;
  text-align: center;
  margin-top: 50px;
}

.starContainer {
  font-size: 20px;
  margin-left: 380px;
  margin-top: -200px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 0px;
}

.btn-primary {
  background-color: rgb(88, 88, 86);
  color: #fff;
}

.btn-secondary {
  background-color: #3a3f44;
  color: #fff;
}

.btn :hover {
  opacity: 0.8;
}

h1 {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 50px;
  font-family: Tahoma, sans-serif;
}

h2 {
  color: white;
  margin: 0px;
  margin-top: 45px;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
}

h3 {
  margin: 0px;
  margin-top: 15px;
  color: white;
  font-family: Tahoma, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.get-started {
  color: black;
  background: #CEAAFF;
  height: 36px;
  width: 140px;
  font-size: 13px;
  border-radius: 7px;
  padding-top: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  font-family: Tahoma, sans-serif;
  font-size: 19px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-areas: 0px 0px 0px;
  padding: 10px;
}

.grid-item {
  border: 1px solid #10151A;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.big-pijltje {
  align-items: center;
  margin-top: 50px
}

.chevron {
  width: 20px;
  height: 20px;
  border-right: 5px solid;
  border-bottom: 5px solid;
  transform: rotate(45deg);
  margin-left: 650px;
}

.chevron:first-child {
  margin-top: 100px;
  border-color: #8b4a4a;
}

.chevron:last-child {
  border-color: #e27d7d;
}

.grid-buttons {
  display: grid;
  grid-template-areas: 0px 0px 0px;
  padding: 10px;
  align-content: center;
}

.btn-2 {
  padding: 0px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
}

.container-of-seven-buttons {
  text-align: center;
  margin: 0 300px;
  margin-top: 20px;
}

.container-of-seven-buttons-for-learn-version {
  text-align: center;
  margin: 0 265px;
  margin-top: 20px;
}

.buttonexample {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.60em;
  cursor: pointer;
  color: #ffffff;
}

.buttonexample.investment {
  background-color: #182632;
  color: pink;
  font-family: Tahoma, sans-serif;
}

.buttonexample.startup {
  background-color: #182632;
  color: #FFC24C;
  font-family: Tahoma, sans-serif;
}

.buttonexample.service {
  background-color: #182632;
  color: #D387F7;
  font-family: Tahoma, sans-serif;
}

.buttonexample.community {
  background-color: #182632;
  color: #77E6FF;
  font-family: Tahoma, sans-serif;
}

.buttonexample.impact {
  background-color: #182632;
  color: #23C9DE;
  font-family: Tahoma, sans-serif;
}

.buttonexample.defi {
  background-color: #182632;
  color: #FF9E9E;
  font-family: Tahoma, sans-serif;
}

.buttonexample.more {
  background-color: #182632;
  color: #707F8D;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn {
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 1em;
  height: 30px;
  width: auto;
  cursor: pointer;
  color: #ffffff;
}

.buttonexample-learn.investment {
  background-color: #182632;
  color: pink;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.startup {
  background-color: #182632;
  color: #FFC24C;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.service {
  background-color: #182632;
  color: #D387F7;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.community {
  background-color: #182632;
  color: #77E6FF;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.impact {
  background-color: #182632;
  color: #23C9DE;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.defi {
  background-color: #182632;
  color: #FF9E9E;
  font-family: Tahoma, sans-serif;
}

.buttonexample-learn.more {
  background-color: #182632;
  color: #707F8D;
  font-family: Tahoma, sans-serif;
}

.row-of-seven-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.row-of-seven-buttons-learn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.pink {
  color: white;
  margin: 0px;
  margin-top: 7px;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  color: #37424D;
}

pink:hover {
  color: pink;
  cursor: pointer;
}

.empty-space {
  height: 120px;
  width: auto;
}

.empty-space-between-header {
  height: 80px;
  width: auto;
}

.body-of-six-boxes {
  background-color: #10151A;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  margin: 0;
}

.container-of-six-boxes {
  display: flex;
  gap: 20px;
}

.icon-box {
  background-color: #121E28;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-box img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

h3 .icon-box span {
  font-size: 14px;
}

.digest-weekly-body {
  background-color: #10151A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 1px;
  font-family: Arial, sans-serif;
}

.digest-weekly-container {
  background-color: #121E28;
  border-radius: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 180px;
  padding-right: 180px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.digest-weekly-container h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: -80px;
  background-color: #121E28;
}

.digest-weekly-container p {
  color: #9ca3af;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #121E28;
}

.email-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input input {
  padding: 10px;
  border: 1px solid #374151;
  border-radius: 5px;
  outline: none;
  color: #9ca3af;
  background-color: #121E28;
  width: 250px;
  margin-top: 40px;
}

.email-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a78bfa;
  color: black;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 40px;
}

.email-input button:hover {
  background-color: #CEAAFF;
}

.image-of-five-pictures {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.put-the-picture-in-the-middle {
  align-items: center;
}

.body-of-boxes {
  font-family: Arial, sans-serif;
  background-color: #10151A;
  color: #c9d1d9;
  margin: 0;
  padding: 0;
}

.container-of-boxes {
  padding: 20px;
}

.header-of-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 265px;
  margin-right: 265px;
}

.header-of-boxes h1 {
  font-size: 2em;
  margin: 0;
}

.header-of-boxes a {
  color: #8395A7;
  text-decoration: none;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.box {
  background-color: #161b22;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 260px;
  color: #c9d1d9;

}

.box h3 {
  font-size: 1, 2em;
  margin-bottom: 10px;
  color: black;
}

.box p {
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.664);
}

.box a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  bottom: -20px;
  right: 75px;
  position: relative;
}


.box.decrypt {
  background-color: #77E6FF;
}

.box.blockworks {
  background-color: #E2C1F9;
}

.box.techcrunch {
  background-color: #DBE268;
}

.body-of-podcast {
  background-color: #10151A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container-of-podcast {
  max-width: 800px;
  margin: 0 auto;
}

.header-of-podcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.header-of-podcast a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

.podcast-list {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.podcast-item {
  background-color: #1a1f2b;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;
}

.podcast-item img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.podcast-item p {
  font-size: 0.9em;
  color: #b0b3b8;
  margin: 10px;
}

.podcast-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.7em;
  display: inline-block;
  margin-top: 10px;
  margin-right: 150px;
}

h4 {
  font-size: 1em;
  margin: 0px;
}

h5 {
  font-size: 0.8em;
  margin-top: 15px;
  margin-bottom: 0px;
}

.grey {
  color: #b0b3b8;
  font-size: 1em;
  margin-right: 40px;
}

.little-right {
  margin-left: 20px;
  margin-bottom: 20px;
}

.writing-fix {
  font-size: 16px;
}

.connect-the-pictures {
  margin-top: -35px;
}

.body-of-two-buttons {
  background-color: #10151A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.grey-text {
  font-size: 1em;
  margin-bottom: 30px;
  color: #5A6C7E;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-button {
  display: flex;
  align-items: center;
  width: 180px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
}

.telegram {
  background-color: #FFC803;
}

.email {
  background-color: #E2C1F9;
}

.contact-button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact-button span {
  color: #202020af;
  margin-left: 10px;
  font-size: 0.7em;
}

h6 {
  font-size: 1.6em;
  margin: 0px;
  margin-bottom: 10px;
}

.footer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  background-color: #0f1a2b;
  position: relative;
  font-family: Arial, sans-serif;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a.legal {
  color: #f0a500;
}

.social-icons {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 20px;
  margin-right: 250px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.body-of-hero {
  background-color: #10151A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

.body-of-hero h1 {
  margin-bottom: 50px;
  font-size: 2em;
}

.pink-card-container {
  display: flex;
  gap: 20px;
}

.pink-card {
  background-color: #FFB4D3;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.pink-card img {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-color: #FFB4D3;
  display: block;
  margin: 0 auto 10px;
  margin-bottom: 30px;
}

.pink-card h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
  color: #000000;
}

.pink-card p {
  font-size: 0.9em;
  margin: 5px 0;
  color: #000000;
}

.pink-card a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000000;
  text-decoration: none;
  font-size: 0.9em;
  margin-bottom: -10px;
}

.pink-card a i {
  margin-left: 5px;
}

.body-of-post {
  background-color: #10151A;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: 100px;
}

.post-container {
  background-color: #161b22;
  padding: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 450px;
}

.post-container h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.post-container input {
  width: 375px;
  height: 45px;
  color: #3D4C5B;
  background-color: #121E28;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 25px;
  border: 0px;
  border-radius: 10px;
}

.post-container textarea {
  color: #3D4C5B;
  background-color: #121E28;
  width: 375px;
  height: 225px;
  padding: 0px;
  padding-left: 25px;
  padding-top: 15px;
  border: 0px;
  border-radius: 10px;
}

.post-container select {
  width: 402px;
  height: 45px;
  color: #3D4C5B;
  background-color: #121E28;
  border-radius: 10px;
  padding-left: 25px;
  margin-top: 10px;
  border: 0px;
}

.post-container ::placeholder {
  color: #3D4C5B;
}
.post-container button {
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  background-color: #a78bfa;
  color: black;
  cursor: pointer;
  margin-left: 435px;
  margin-top: 40px;
}

.post-container button:hover {
  background-color: #CEAAFF;
}
.empty-space-post{
  width: auto;
  height: 20px;
}
.footer