body {
  background-color: #10151A;
}

.Pink {
  color: white;
  padding: 7px;
  margin-left: 50px;
}

.Goose {
  color: #FFB4D3;
  padding: 7px;
}

.Title {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.Home {
  color: white;
  padding: 7px;
}

.Learn {
  color: white;
  padding: 7px;
}

.About {
  color: white;
  padding: 7px;
}

.Contact {
  color: white;
  padding: 7px;
}

.Link {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  margin-top: 20px;
}

.Login {
  color: white;
  background: #243241;
  height: 24px;
  width: 60px;
  font-size: 13px;
  border-radius: 7px;
  text-align: center;
  padding-top: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  margin-top: 25px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 130px;
  background-color: #10151A;
  box-shadow: 0px 10px 8px #10151A;
  position: sticky;
  top: 0;
  width: auto;
  height: 104px;
}

.Text {
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 100px;
}

.Text1 {
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 25px;
}

.Text2 {
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-top: 25px;
}

.GetStarted {
  background-color: #CEAAFF;
  color: #10151A;
  font-family: Tahoma, sans-serif;
  padding-left: 2px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  border-radius: 7px;
  font-weight: bold;
}

.Pijlen {
  display: flex;
  flex-direction: row;
  rotate: 90deg;
  width: 80px;
  height: 35px;
  transform: rotateY(60deg);
  margin-left: 660px;
  margin-top: 100px;
  border-radius: 7px;
  padding-left: 25px;
}

.Pijl {
  font-size: 50px;
}

.Column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tags {
  background-color: #182632;
  color: white;
  border-radius: 50px;
  width: auto;
  display: inline;
  font-family: Tahoma, sans-serif;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}

.Container {
  width: 100%;
  text-align: center;
}

.ContainerTags {
  width: auto;
  text-align: center;
  margin-top: 50px;
}

.StarContainer {
  font-size: 20px;
  margin-left: 380px;
  margin-top: -200px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 0px;
}

.btn-primary {
  background-color: rgb(88, 88, 86);
  color: #fff;
}

.btn-secondary {
  background-color: #3a3f44;
  color: #fff;
}

.btn :hover {
  opacity: 0.8;
}

h1 {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 50px;
  font-family: Tahoma, sans-serif;
}

h2 {
  color: white;
  margin: 0px;
  margin-top: 45px;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
}

h3 {
  margin: 0px;
  margin-top: 15px;
  color: white;
  font-family: Tahoma, sans-serif;
}

.get-started {
  color: black;
  background: #CEAAFF;
  height: 36px;
  width: 140px;
  font-size: 13px;
  border-radius: 7px;
  padding-top: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  margin-top: 25px;
  margin-left: 565px;
  font-family: Tahoma, sans-serif;
  font-size: 19px;
}

.grid-container {
  display: grid;
  grid-template-areas: 0px 0px 0px;
  padding: 10px;
}

.grid-item {
  border: 1px solid #10151A;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.big-pijltje {
  align-items: center;
  margin-top: 50px
}

.chevron {
  width: 15px;
  height: 15px;
  border-right: 5px solid;
  border-bottom: 5px solid;
  transform: rotate(45deg);
  margin-left: 650px;
}

.chevron:first-child {
  margin-top: 100px;
  border-color: #8b4a4a;
}

.chevron:last-child {
  border-color: #e27d7d;
}

.grid-buttons {
  display: grid;
  grid-template-areas: 0px 0px 0px;
  padding: 10px;
  align-content: center;
}

.btn-2 {
  padding: 0px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
}

.container-of-seven-buttons {
  text-align: center;
  margin: 0 300px;
  margin-top: 20px;
}
.buttonexample {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.60em;
  cursor: pointer;
  color: #ffffff;
}

.buttonexample.investment {
  background-color: #182632;
  color: pink;
  font-family: Tahoma, sans-serif;
}

.buttonexample.startup {
  background-color: #182632;
  color: #FFC24C;
  font-family: Tahoma, sans-serif;
}

.buttonexample.service {
  background-color: #182632;
  color: #D387F7;
  font-family: Tahoma, sans-serif;
}

.buttonexample.community {
  background-color: #182632;
  color: #77E6FF;  
  font-family: Tahoma, sans-serif;
}

.buttonexample.impact {
  background-color: #182632;
  color: #23C9DE;
  font-family: Tahoma, sans-serif;
}

.buttonexample.defi {
  background-color: #182632;
  color: #FF9E9E;
  font-family: Tahoma, sans-serif;
}

.buttonexample.more {
  background-color: #182632;
  color: #707F8D;
  font-family: Tahoma, sans-serif;
}

.row-of-seven-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
.connect-the-pictures{
  margin-top: -33px;
}
.pink {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  color: #37424D;
}
.pink:hover{
  color: pink;
  cursor: pointer;
}
